<h1>BLACKBOX - Request Detail </h1>

<form action="{% url 'bb_replay' record.pk %}" method="post">
   {% csrf_token %}
   <button type="submit" >Replay This Request</button>
</form>
{% if replay_result %}
<hr>
<h2>Replay Result</h2>
<p><b>Status match:</b> {{ replay_result.status_match  }}</p>
<p><b>Body Match :</b> {{ replay_result.body_match  }}</p>

<p><b>Original Status:</b> {{ replay_result.original_status }}</p>
<p><b> Replay Status  :</b> {{ replay_result.replay_status }}</p>

<p><b>Notes:</b> {{ replay_result.notes }}</p>
{% endif %}






<hr>
<h2>Request Info</h2>
<p><b>Timestamp:</b> {{ timestamp }}</p>
<p><b>Method::</b> {{ method }}</p>
<p><b>Path:</b> {{ path }}</p>

<hr>

<h2>Response Info</h2>
<p><b>Status Code</b> {{ original_response_status }}</p>

{% if response_body %}
<h3>Response Body</h3>
<pre> {{ original_response_body }} </pre>
{% else %}
<p><i>No response body recorded</i></p>
{% endif %}

<hr>
<h2>Headers</h2>
<pre>
    {% for key, value in headers.items %}      
    {{ key }}: {{ value }}
    {% endfor %}
</pre>

<hr>
<h2>Request Body</h2>
{% if body_raw %}
<pre>{{ body_parsed }}</pre>
{% else %}
<p><i>Not a JSON request.</i></p>
{% endif %}

<hr>

<a href="{% url 'blackbox-inspect' %}">Back to Dashboard</a>